/*body{
    background-color:#CAF0F8;

    background-color: #90E0EF;

    background-color:#00B4D8 ;

    background-color: #0077B6;

    background-color:#03045E ;
}C:\Users\kaviyarasu\Documents\GitHub\Helios-Hifi\css*/

* {
  font-family: sans-serif;
  color: white;
}
*::-webkit-scrollbar {
  width: 3px;
}
*::-webkit-scrollbar-track {
  border: 2px solid black;
  border-radius: 10px;
  height: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #90e0ef;
  border-radius: 20px;
}

* {
  box-sizing: border-box;
  color: white;
}
#preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.disppers {
  animation: vanish 1s forwards;
  -webkit-animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.bg-video {
  position: fixed;
  overflow: hidden;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -10;
}
h1 {
  margin: 0;
  margin-left: 18px;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.root {
  width: 95%;
  height: 95%;
  min-width: 200px;
  backdrop-filter: blur(20px);
  background-color: rgba(16 18 27 / 40%);
  border-radius: 10px;
  box-shadow: 0 0 5px #ccc;
  overflow: hidden;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background: transparent;
  align-items: center;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.nav-left {
  display: flex;
  text-align: center;
}
.nav-right {
  display: flex;
}

#home-icon {
  color: white;
}
.main {
  width: 100%;
  height: 100%;
  position: relative;
}
.aside {
  width: 70px;
  position: fixed;
  height: 350px;
  top: 170px;
  left: 0;
  z-index: 100;
  background-color: rgba(56, 56, 58, 0.4);
  backdrop-filter: blur(20px);
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
}

.icon {
  margin: 10px;
  margin-top: 30px;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  color: #d400ff;
}
.icon:hover {
  border: 1px solid white;
}

#loginicon {
  margin: 11px !important;
  cursor: pointer !important;
}
.big {
  margin-top: 10px;
  margin-left: 7%;
  width: 90%;
  height: 83vh;
  background-color: rgba(29, 32, 43, 0.4);
  backdrop-filter: blur(100px);
  box-shadow: 0 0 5px #ccc;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 15px;
  overflow-y: scroll;
}

.h1 {
  padding-left: 10px;
  padding: 10px;
  color: #00d4fa;
}
.sp {
  padding: 15px;
  float: left;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  cursor: pointer;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.sp:hover {
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.content {
  line-height: 25px;
  padding: 8px;
}

#orbit {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 60%;
  height: 60%;
  margin-bottom: 100px;
}
#king {
  display: block;
  width: 100%;
  height: 100%;
}
#about {
  display: none;
}

.header {
  color: #00d4fa;
}
.menu {
  display: none;
}

h4 {
  margin: 0 !important;
  color: #00d4fa;
}
.story {
  margin-top: 15px;
}
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(82, 82, 82, 0.39),
    rgb(255, 255, 255),
    rgba(82, 82, 82, 0.39)
  );
}
#time-line {
  display: none;
  width: 100%;
  height: 100%;
}
#story-mode {
  display: none;
  width: 100%;
  height: 100%;
}
/*time*/
h1 {
  font-family: "Roboto";
  font-size: 200%;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}

header {
  /* background: #062c43; */
  color: #ffffff;
  padding: 20px 0;
}
header p {
  font-family: "Allura";
  color: rgba(255, 255, 255, 0.2);
  margin-bottom: 0;
  font-size: 60px;
  margin-top: -30px;
}

.timeline {
  position: relative;
}

.timeline::before {
  content: "";
  background: #9ccddc;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
  margin-bottom: 70px;
}
.timeline-item:nth-child(even) .timeline-content {
  /* background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); */
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  /* background: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px); */
  right: auto;
  left: 0;
}
.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #5591a9 transparent transparent;
}
.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 10px;
  border-radius: 15px;
}
.timeline-item:not(:first-child) .timeline-content,
.card-content {
  box-shadow: 0 0 5px #ccc !important ;
}
.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #5591a9;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #5591a9;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.miss {
  background: #062c43;
  color: #ffffff;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 20px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
}
.miss:hover,
.miss:active,
.miss:focus {
  background: #214052;
  color: #ffffff;
  text-decoration: none;
}

.timeline-card {
  padding: 0 !important;
}
.timeline-card p {
  padding: 0 20px;
}
.timeline-card a {
  margin-left: 20px;
}

.timeline-item .timeline-img-header {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4)),
    url("../Source/img15.jpg") center center no-repeat;
  background-size: cover;
}

.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}
.timeline-img-header h2 {
  color: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 20px;
}

blockquote {
  margin-top: 30px;
  color: white;
  border-left-color: #062c43;
  padding: 0 20px;
}

.date {
  background: #062c43;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }
  .timeline .timeline-img {
    left: 50px;
  }
  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }
  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }
  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

/*------------------------------------------------------------------------------*/

.glass-card {
  position: absolute;
  text-align: center;
  top: 30%;
  left: 15%;
  /* backdrop-filter: blur(3px); */
  width: 100%;
  max-width: 400px;
}

.blurred {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(255, 255, 255, 0.15); */
  border-radius: 12px;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.3);
  z-index: -2;
}

.card-content {
  padding: 5rem 2rem;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* border-top: 2px solid rgba(255, 255, 255, 0.4);
  border-left: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 3px solid rgba(255, 255, 255, 0.32);
  border-bottom: 3px solid rgba(255, 255, 255, 0.32); */
  border-radius: 15px;
  /* background: linear-gradient(
    135deg,
    transparent 0%,
    transparent 8%,
    rgba(255, 255, 255, 0.03) 30%,
    rgba(255, 255, 255, 0.03) 60%,
    rgba(255, 255, 255, 0) 68%
  ); */
}

.glass-card span {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  font-size: 6.25em;
  color: rgba(255, 255, 255, 0.1);
  background: #5591a9;
  font-weight: 700;
}

.glass-card h3 {
  font-size: 2.2em;
  color: rgba(255, 255, 255, 0.85);
}

.glass-card p {
  margin: 1em 0;
  color: #fff;
  line-height: 1.4;
}

.glass-card button {
  border: 0 none;
  font-size: 1.125em;
  color: #444;
  padding: 0.6em 1.1em 0.7em;
  border-radius: 100px;
}

@media only screen and (max-width: 1050px) {
  .aside {
    display: none;
  }
  .menu {
    display: inline-block;
    margin-left: 3px;
  }
  .sp {
    width: 200px;
    height: 200px;
  }
  #orbit {
    width: 70%;
    height: 70%;
  }
}

#cname {
  margin-top: 20px !important;
  margin-bottom: none !important;
  color: white;
  cursor: pointer;
  font-family: "Roboto";
  font-size: 200%;
  text-transform: uppercase;
  margin-left: 20px;
}

.box {
  width: 100%;
  height: 100px;
}

/*for time line up altername add the class to corresponding elements*/
/*About us */
.members {
  width: 40%;
  height: 450px;
  border: 3px inset #00d4fa;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 10px;
  box-shadow: 0 0 7px #ccc;
  margin-top: 20px;
  width: 250px;
}
.team-mem {
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
  cursor: pointer;
  box-shadow: 0 0 5px #ccc;
}
.team-mem:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transition: 2s;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  -ms-transition: 2s;
  -o-transition: 2s;
}
.team-team {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}
.story {
  width: 80%;
  min-width: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5rem;
  letter-spacing: 2px;
}
.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
.details {
  width: 80%;
  border: 1px solid black;
  box-shadow: 0 0 20px #eee;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
#threed {
  display: none;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .iframe {
    width: 400px;
    height: 250px;
  }
}
#popup {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  backdrop-filter: blur(3px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
#complete {
  width: 400px;
  height: 400px;
  background-color: black;
  box-shadow: 0 0 20px #eee;
  position: relative;
  border-radius: 10px;
  z-index: 200;
  padding: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.p{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  text-align: center;
}
.cross{
  position: absolute;
  top:0;
  right: 1px;
  cursor: pointer;
}
#popup{
  display: none;
}